/* Container for the entire conference component */
.conference-component {
	position: relative;
	height: 100%; /* Adjust height as needed */
	width: 100%;
	display: flex;
	flex-direction: row;
}

/* Side pane for conference section */
.conference-section {
	/* position: absolute; */
	top: 0;
	left: 0;
	width: 400px; /* Adjust width as needed */
	height: 100%;
	background-color: var(--surface_default); /* Light background for visibility */
	overflow-y: auto; /* Enable scroll for overflow content */
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-shrink: 0;
	justify-content: space-between;
}

/* Main editor section */
.editor {
	/* position: absolute; */
	width: 100%;
	height: 100%;
	overflow: visible;
	background-color: var(--white);
	overflow: hidden;
	overscroll-behavior: none;
	touch-action: none;
}

/* Additional styling for peers container */
.peers-container {
	padding: 10px;
	width: 100%;
}

/* You can add more specific styles here */
