:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
	--surface_dark: #000;
	--surface_default: #163f86;
	--surface_bright: #7FC7D9;
	--on_surface: #F2F1EB;
	--white: #FFF;

	background-color: var(--surface_dark);
}

body {
	margin: 0 !important;	
}

.App {
	height: 100vh;
	width: 100%;	
}

.preview {
	display: flex;
	justify-content: center;
	align-items: center;
}

.poll-div {
	z-index: 999;
}

.tlui-help-menu {
	display: none !important;
}

.tlui-debug-panel {
	display: none !important;
}

.editor {
	position: fixed;
	inset: 0;
	overflow: hidden;
	background-color: var(--white);
}

.tldrawLogo {
	position: absolute;
	z-index: 9999999;
	bottom: 0px;
	right: 0px;
}

.tldrawLogo__mobile {
	bottom: 60px;
}

.makeRealButton {
	background: var(--color-primary);
	color: white;
	border: none;
	font: inherit;
	font-weight: 600;
	padding: var(--space-3) var(--space-4);
	border-radius: var(--radius-2);
	margin: var(--space-3);
	cursor: pointer;
	pointer-events: all;
}
.makeRealButton:hover {
	opacity: 0.95;
}

/* ------------------ Api Key Input ----------------- */

.your-own-api-key {
	position: absolute;
	bottom: 72px;
	right: 0px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 9999999;
	color: var(--color-text-0);
	pointer-events: none;
}

.your-own-api-key__inner {
	display: flex;
	flex-direction: row;
	max-width: 300px;
	width: 100%;
	gap: 4px;
	background-color: var(--color-low);
	border-radius: 8px;
	padding: 6px;
	pointer-events: all;
}

.your-own-api-key input {
	all: inset;
	padding: 6px 12px;
	border-radius: 4px;
	color: transparent;
	border: none;
	font-size: 12px;
	background: var(--color-panel);
	width: 100%;
	height: 32px;
	font-size: 12px;
	font-family: Inter, sans-serif;
}

.your-own-api-key__mobile {
	bottom: 108px;
}

.your-own-api-key__mobile input {
	bottom: 108px;
	font-size: 16px !important;
	pointer-events: all;
}

.input__wrapper {
	position: relative;
	flex-grow: 2;
}

.input__wrapper:not(:focus-within)::after {
	content: 'Your OpenAI API Key (risky but cool)';
	display: block;
	position: absolute;
	inset: 0px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 0px 12px;
	z-index: 999999999;
	background-color: none;
	font-size: 12px;
	font-family: Inter, sans-serif;
}

.input__wrapper::after {
	pointer-events: none;
}

.your-own-api-key input:focus {
	color: var(--color-text-0);
}

.question__button {
	all: unset;
	flex-shrink: 0;
	width: 32px;
	height: 32px;
	background-color: none;
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

form {
	width: 100%;
	max-width: 450px;
	margin: 30px auto;
	box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
	border-radius: 8px;
	padding: 20px;
	background-color: var(--surface_default);
}

input {
	display: block;
	width: 100%;
	border-radius: 8px;
	border: 2px solid transparent;
	height: 34px;
	padding: 5px;
	background: #071014;
	color: inherit;
	font-family: inherit;
}

input::placeholder {
	color: #aaa;
}

.input-container {
	margin-bottom: 20px;
	display: flex;
	align-items: baseline;
	gap: 5px;
}

.btn-primary {
	border: 1px solid transparent;
	border-radius: 4px;
	padding: 6px 14px;
	background-color: #1565c0;
	color: white;
	font-family: inherit;
	font-size: 14px;
	cursor: pointer;
}

form h2,
.conference-section h2 {
	margin-bottom: 20px;
}

.btn-danger {
	border: 1px solid transparent;
	border-radius: 4px;
	padding: 6px 14px;
	background-color: #f44336;
	color: white;
	font-family: inherit;
	font-size: 14px;
	cursor: pointer;
}

.conference-section {
	padding: 20px 30px;
	max-width: 960px;
	margin: 0 auto;
}

.conference-section h2 {
	text-align: center;
	font-size: 32px;
	margin-top: 0;
}

.tile {
	height: 180px;
	width: 100%;
	border-radius: 0.75rem;
	object-fit: cover;
	margin-bottom: 10px;
	position: absolute;
	top: 0;
	left: 0;
}

.tile-cover {
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
}

.muted-video {
	z-index: -1;
}


.local video.tile {
	transform: scaleX(-1);
}

.peer-name {
	position: absolute;
	font-size: 14px;
	text-align: center;
	color: #000;
	bottom: -8px;
	left: 0;
	width: 100%;
	color: white;
	font-weight: 500;
}


.peer-container {
	padding: 10px;
	position: relative;
	height: 180px;
}

.control-bar {
	display: flex;
	position: fixed;
	left: 0;
	bottom: 0;
	padding: 15px 0;
	justify-content: center;
	z-index: 10;
	width: 360px;
}

.control-bar > *:not(:first-child) {
	margin-left: 8px;
}

.btn-control {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: var(--surface_bright);
	color: black;
	cursor: pointer;
	outline: none;
	border: 1px solid black;
}

.btn-control:hover{
	opacity: 0.8;
}

.btn-control.off {
	color: white;
	background-color: red;
}

.hide {
	display: none;
}

.separator {
	font-size: 12px;
}
